body{ 
    background-image: url(/../../img/branco.jpg);
    background-size: cover;
}

nav{
    width: 100%;
    display: flex;
    position: fixed;
    background-color: red;
    z-index: 9;
}

nav a{
    color: #fff;
    margin: auto 20px auto 10px;
    text-decoration: none;
    font-weight: bold;
}

nav li{
    float: left;
    list-style: none;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.card{
    width: 250px;
    margin: 15px;
    font-size: 16px;
    display: inline-flex;
    max-width: 300px;
    border: solid;
    box-shadow: 3px 3px black;
}

.list-group-item{
    color: black;
}

.card-link{
    color:darkcyan;
    text-decoration:none;
}